name: ReaPack Indexer

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  index:
    name: Generate index.xml
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0

      - name: Install reapack-index
        run: gem install reapack-index

      - name: Run reapack-index
        run: reapack-index

      - name: Commit changes
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add index.xml
          git commit -m "Update index.xml" || echo "No changes to commit"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
