name: ReaPack index

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  index:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Run ReaPack Index
        uses: ReaTeam/ReaPack-Index@main

      - name: Commit index.xml
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: index.xml
          commit_message: "chore: update index.xml"
