name: ReaPack Indexer

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  index:
    name: Generate index.xml
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0

      - name: Install reapack-index
        run: gem install reapack-index

      - name: Install dependencies
        run: sudo apt-get install -y pandoc

      - name: Configure Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Run reapack-index
        run: reapack-index --commit

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
